<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alcolator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75B4A2DA1BE26EA30093F653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75B4A2F31BE26EA30093F653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75B4A2FE1BE26EA30093F653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
